
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
    
html body {
    background-color: rgb(167, 204, 167);
    font-family: "coustard","heebo", sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* header and nav bar */
h1 {
    font-family: "coustard", cursive;
    font-size: 2.5rem;
    color: black;
    margin: 0;
}

.subtitle, 
nav a {
    font-size: 1.0rem;
    color: black;
    text-transform: uppercase;
}

.active{
  text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(166, 190, 166);
    padding: 0.8em 0;
    box-shadow: 2px 2px 2px #292a2b;
}

nav ul {
    list-style: none; 
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
}

nav a:hover, nav a:focus {
    color: antiquewhite;
}

/* Hero Image */
.hero {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/hero.jpg);
    background-position: center;
    height: 90vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

#text {
  color: rgb(246, 218, 182);
  position: absolute;
  bottom: 20%;
  text-align: center;
  padding: 35px;
}

/* Main Text */

.index-title {
  padding-top: 100px;
  padding-left: 50px;
}


/*footer*/

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: rgb(166, 190, 166);
    padding: 0.8em 0;
    box-shadow: 2px 2px 2px #292a2b;
}

.footer {
    flex-shrink: 0;
}

footer ul {
    list-style: none; 
    padding: 0;
    display: flex;
}

footer li {
    margin-left: 2em;
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
}

footer #copyright {
    display:flex;
    justify-content: center;
    font-size: 100%;
    font-weight: lighter;
    font-family: Coustard, sans-serif;  
}

footer a:hover, footer a:focus {
    color: antiquewhite;
}


/* Gallery */

h2 {
  text-align: center;
  padding-top: 3rem;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
  }
  
  .image-gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
    text-decoration: none;
  } 

  #gallery-title {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  #review-title {
    display:flex;
    text-align: center;
    justify-content:space-evenly;
    padding-top: 40px;
  }

  .review {
    width: fit-content;
    list-style: none;
    text-align: center;
    margin: 10px;
    
  }

  /* contact us form ---  taken from https://plantpot.works/2827 */

  /* used https://codepen.io/paulobrien/pen/baobra as a guide to align flexbox row */

  .contact-text {
    text-align: justify;
  }

  #title {
    padding-top: 100px;
    padding-left: 10px;
}
  .contact-row {
    display: flex;
	justify-content:space-around;
	padding:25px 0 ;
	max-width:1280px;
	margin:auto;
  }

  .p3 {
    flex: 0 0 45%;
  }

  .p3 p {
    margin:0;
    padding:10px;
  }

  .image-sleeping img {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    object-fit: cover;
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 20px;
  }

  .form-box {
    width: 100%;
    max-width: 400px;
    padding: 30px 15px;
    border-radius: 4px;
    background-color: #fff;
  }

  .c-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .c-form-label {
    display: inline-block;
    margin: .5rem 0;
    color: #3d3935;
    letter-spacing: .2px;
    font-size: 1rem;
  }

  .c-form-input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #3d3935;
    border-radius: 4px;
    background-color: #fff;
    color: #3d3935;
    outline: 0;
  }

  .c-form-input::placeholder {
    color: #867d6c;
    font-size: 1rem;
  }

  .c-form-required {
    color: #b0092d;
  }

  textarea.c-form-input {
    width: 100%;
    min-height: 10ch;
    max-height: 120ch;
    padding: 10px;
    resize: none;
  }

  .two-columns {
    display: grid;
    grid-template-columns: 100%;
  }

  fieldset {
    margin: .4rem 0;
    padding: 0;
    border: none;
  }
  
  .c-form-btn {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #3d3935;
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
    cursor: pointer;
  }
 

/* signed-up page */

#submission-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 420px;
  padding-bottom: 420px;
}





/* media queries */

@media (max-width: 930px)  {
    .container {
        text-align: center;
    }

    .container-nav {
        flex-direction: column;
    }

    .container-footer {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.8em 0;
    }

    footer ul {
        padding-right: 30px;
    }


    .p3 {
      flex-direction: column;
    }

    .p3 p {
      flex-direction: column;
    }

    .contact-row {
      flex-direction: column;
    }

    }

    @media screen and (min-width: 481px) {
        .two-columns {
          grid-template-columns: 48.7804878% 48.7804878%;
          grid-column-gap: 2.43902439%;
        }
      }

      @supports (object-fit: cover) {
        .object-fit img  {
          position: absolute;
          left:0;
          top:0;
          height: 100%;
          width: 100%;
          transform: none;
          object-fit: cover;
        }
      }

